<a href="https://colab.research.google.com/github/ancerin/mygit/blob/main/%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC_%ED%92%80%EC%9D%B4_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. 더음 문장 큰따움표("") 포함해서 출력해라
# 언제나 '현재'에 집중할 수 있다면 행복할 것이다.
print('언제나 "현재"에 집중할 수 있다면 행복할 것이다')

언제나 "현재"에 집중할 수 있다면 행복할 것이다

In [ ]:
#2. \t \n 의 역할을 서술
# \t: tab공간을 생성
# \n: 엔터 역할

In [ ]:
#3. 본인의 학번을 5로 나눈 몫과 나머지 출력
# 몫// 나머지 %
student_id = 241928
a = 241928//5
b = 241928%5
print(a,b)

48385 3

In [ ]:
#4. '홀'만 출력하는 프로그램을 작성
# '홀'
#'홀홀홀'
str1 = '홀짝홀짝홀짝'
print(str1[0:5:2])

홀홀홀

In [ ]:
#5. 리스트
name = ['사회과학대학', '공과대학', '인문대학']
# 1) 마지막에 '자연과학대학' 추가
name.append('자연과학대학')
#2) '공과대학' 삭제
name.remove('공과대학')

In [ ]:
#6. 리스트 메서드 설명 -  메서드명

In [ ]:
#7. 리스트 최댓값, 최솟값, 평균
# 1)
num = [2,3,7,2,9,9,4,5,5,5,1,1]
num1 = max(num)#최댓값
num2 = min(num)#최솟값
print(num1,num2)
# 2)
print(sum(num)/len(num))

9 1
4.416666666666667

In [ ]:
#8. 딕셔너리 작성
# 1)
dictionary = {'스크류바':'1000'}
# 2) 키 출력
dictionary.keys()

dict_keys(['스크류바'])

In [ ]:
#9. 빈칸 채우기
fruit = ['사과','귤','배','수박','딸기']
for i in fruit:
  if i =='배':
   break
  print(i)

사과
귤

In [ ]:
fruit = ['사과','귤','배','수박','딸기']
for i in fruit:
  if i =='수박':
   continue
  print(i)
  #break하면 그부분 멈춤fruit = ['사과','귤','배','수박','딸기']
  for i in fruit:
    if i =='수박':
       continue
         print(i)
           #break하면 그전부분까지 하고 멈춤

사과
귤
배
딸기

In [ ]:
#10 프로그램
print('A')      #1
def message1(): #함수 정의 실행 x
  print('B')
print('C')      #2
def message2(): #함수 정의 실행 x
  print('D')
message1()      #print("B") 3번
print('E')      #4
message2()      #print("D")5번 A C B E D

A
C
B
E
D

In [ ]:
#11. a값은?
a = 5
def func1():
  a = 1
def func2():
  print(a)
def func3():ㅂ
  global a
  a = 4
print(a)
#답은 5

5

In [ ]:
#12. 자동차 '124가-2210'->2210만 출력
string = '124가2210'
string[-4:]

'2210'

In [ ]:
#13. 'www.jnu.ac.kr'
string = 'www.jnu.ac.kr'
string.split(".")

['www', 'jnu', 'ac', 'kr']

In [ ]:
#14. 'PYTHON' 거꾸로 출력
string = 'PYTHON'
string[::-1]

'NOHTYP'

In [ ]:
#15. for문 2~9단
for i in range(2,10):
  for j in range(1,10):
    print(i,"*",j,"=",i*j)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
#16 3개 변수에 수를 저장하고 if문 가장 큰 수, 가장 작은 수 출력
a = 1
b = 2
c = 3
if a>b and a>c:
  print("max=",a)
elif b>a and b>c:
  print("max=",b)
else:
  print("max=",c)

if a<b and a<c:
  print("min=",a)
elif b<a and b<c:
  print("min=",b)
else:
  print("min=",c)

max= 3
min= 1

In [ ]:
#17. if,elif,else 시험점수
score = 95

if score>90:
  print('A')

elif score>=80:
  print("B")

A

In [ ]:
#18. 반복문 1~100 짝수의 합
sum = 0
for i in range(1,101):
  if (i%2 == 0):
    sum = sum+i
print(sum)
#또는
sum = 0
for i in range(0,101,2):
  sum = sum+i
print(sum)

2550
2550

In [ ]:
#19. i = 1~10 i*i
sum = 0
for i in range(1,11):
  sum = sum+i*i
print(sum)

385

In [ ]:
#20. i= 1~10, j = 1~i-1, i*j
sum = 0
for i in range(1,11):
  for j in range(1,i):
    sum = sum+i*j
print(sum)

1320

In [ ]:
#21. 수열 n번째 수열의 합을 구하는 프로그램 for 문
# 1+(1+2)+(1+2+3)+...(1+...+n)
# 1) n이 주어졌을 때 일반항 an = 1+2+3+...+n
n=5
sum= 0
for i in range(1,6):
  sum = sum+i
#2)***************
sum = 0
total_sum=0
for i in range(1,n+1):
  sum = sum+i
  total_sum =  total_sum+sum
print(total_sum)

35

In [ ]:
#22 클래스 변수의 변수명
class chair():
  size = 100

def __init__(self, width, length):
  self.width = width
  self.length = length
  #답:size

In [ ]:
#23 인스턴스 메서드의 메서드명
class chair():
  size = 100

  def __init__(self,width,length):

  def area(self):

  @staticmethod
  def check(number):
  @classmethod
  def change(cls):
#답: __init__ , area

IndentationError: expected an indented block after function definition on line 5 (<ipython-input-4-90d2f57a1c52>, line 7)

In [ ]:
#24. coffeesales.txt 파일에 내용
#빈칸
#책에 내용